{% extends 'app/base.html' %}
{% load static %}
{% block title %}Registro{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <div class="center-div full-height">
        <h2>Sé Parte de Nosotros</h2>
        <form method="post" action="{% url 'app:signup' %}">
            {% csrf_token %}
            <br>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password1">Password</label>
            <input type="password" id="password1" name="password1" pattern=".{10,}" required title="La contraseña debe tener al menos 10 caracteres y usar numeros y letras">

            <label for="password2">Confirmar Password:</label>
            <input type="password" id="password2" name="password2" pattern=".{10,}" required title="La contraseña debe tener al menos 10 caracteres y usar numeros y letras">
            <br>
            <br>
            <button class="st-button" type="submit">Registrar</button>
        </form>
    </div>
    <p class="center-div">¿Ya tienes una cuenta? <a href="{% url 'app:login' %}">Inicia sesión aquí</a></p>
{% endblock content %}
